/**** General Typography ****/
$font-fam: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$back-color: #555;
$white: #FFF;
$sky-color:#4D8FC3;

/*
h1{font-size: @h1/1.55;text-transform: @upp;}
h2{font-size: @h2/1.55;font-weight:200;}
h3{font-size: @h3/1.55;font-weight:200;}

@media screen and (min-width: 545px) {
	h1{font-size: @h1;}
	h2{font-size: @h2;}
	h3{font-size: @h3;}
}

@font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@i: italic;
@cent: center;
@norm-font: 15px;
@upp: uppercase;
@forest: rgba(34,139,34,1);
@forest-hover: rgba(34,139,34,.75);
@forest-softer:rgba(34,139,34,.35);
@container: 0 5% 0 5%;
@h1:3.5em;
@h2:2.5em;
@h3:2em;
@section1-bg:url(../content/DTSP-wild-1.png) no-repeat center;
@section-text:#555;
@bordr-rd:20px;
@white:#FFF;
@trns:0.2s;
*/