body{

}

.page-wrap{
	height:0;
}

body p{
	margin:12px 0;
}

.page-content{
	position: relative;
	z-index: -1;
	@include transition();
}

.center{
	text-align:center;
}

.emphThis{
	color:$sky-color;
	text-transform:uppercase;
	font-weight:800;
}

.emphThis-2{
	color:#555;
	text-transform:uppercase;
	font-weight:800;
}

.leadText{
	border-bottom:1px solid $sky-color;
}

.bigger{
	font-weight:800;
}