body{
	color:$white;
	@include outer-container;
}

.boxes{
	@include clearfix;
	@include outer-container;
}

.box{
	@include size(100px);
	float:left;
	background-color:tint(red,40%);
	@include span-columns(3);
}

p{
	font-family:$helvetica;
}